aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.10.2
amqp==5.1.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
async-timeout==4.0.2
asyncssh==2.13.1
atpublic==3.1.1
attrs==22.2.0
billiard==3.6.4.0
black==23.1.0
catboost==1.1.1
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.2.1
cmaes==0.9.1
colorama==0.4.6
colorlog==6.7.0
configobj==5.0.8
contourpy==1.0.7
cryptography==39.0.2
cycler==0.11.0
databricks-cli==0.17.4
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.8.0
docker==6.0.1
dpath==2.1.4
dulwich==0.21.3
dvc==2.46.0
dvc-data==0.42.1
dvc-http==2.30.2
dvc-objects==0.21.1
dvc-render==0.2.0
dvc-studio-client==0.5.2
dvc-task==0.2.0
entrypoints==0.4
filelock==3.9.0
flake8==6.0.0
Flask==2.2.3
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.39.0
frozenlist==1.3.3
fsspec==2023.3.0
funcy==1.18
gitdb==4.0.10
GitPython==3.1.31
grandalf==0.8
graphviz==0.20.1
greenlet==2.0.2
hydra-core==1.3.2
idna==3.4
importlib-metadata==6.0.0
isort==5.12.0
iterative-telemetry==0.0.7
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
kombu==5.2.4
lightgbm==3.3.5
llvmlite==0.39.1
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mccabe==0.7.0
mdurl==0.1.2
mlflow==1.27.0
multidict==6.0.4
mypy-extensions==1.0.0
nanotime==0.5.2
networkx==3.0
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.3.0
optuna==3.1.0
orjson==3.8.7
packaging==23.0
pandas==1.5.3
pathspec==0.11.0
Pillow==9.4.0
platformdirs==3.1.0
plotly==5.13.1
prometheus-client==0.16.0
prometheus-flask-exporter==0.22.3
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
pyarrow==11.0.0
pycodestyle==2.10.0
pycparser==2.21
pydot==1.4.2
pyflakes==3.0.1
pygit2==1.11.1
Pygments==2.14.0
pygtrie==2.5.0
PyJWT==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
pywin32==305
PyYAML==6.0
querystring-parser==1.2.4
requests==2.28.2
rich==13.3.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.2.2
scipy==1.10.1
scmrepo==0.1.15
shap==0.41.0
shortuuid==1.0.11
shtab==1.5.8
six==1.16.0
slicer==0.0.7
smmap==5.0.0
SQLAlchemy==1.4.46
sqlparse==0.4.3
sqltrie==0.1.1
-e git+ssh://git@gitlab.com/alenavgalkina/spaceship-titanic.git@eddc67c0337b383d84fd79368e5f0b1f93282dee#egg=src
tabulate==0.9.0
tenacity==8.2.2
threadpoolctl==3.1.0
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.14
vine==5.0.0
voluptuous==0.13.1
waitress==2.1.2
wcwidth==0.2.6
websocket-client==1.5.1
Werkzeug==2.2.3
xgboost==1.7.4
yarl==1.8.2
zc.lockfile==3.0.post1
zipp==3.15.0
